/**
* Application styles
*/

nav {
	height: 75px;
}

a:hover {
	text-decoration: none;
}

a.delete-image {
	color: red;
	font-weight: bold;
}

.app-content {
	padding-top: 100px;
}

.form, .btn-images-number, .home-text {
	margin-top: 25px;
}

.upload_container input {
	display: none;
}

.upload_container .circle_upload {
	margin-bottom: 15px;
	height: 50px;
	width: 50px;
	background-color: #007bff;
	border-radius: 25px;
}

.upload_container .circle_upload:hover {
	background-color: #0069d9;
}

 .upload_container .circle_upload .fas{
	margin-top: 12px;
	font-size: 27px;
	color: white;
}
table tr {
	border: none;
}
table img {
	width: 70px;
	height: 70px;
}

h3.uploaded-images {
	margin-top: 50px;
	margin-bottom: 20px;
}

