<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} {% endblock %}</title>

	<!-- Add Bootstrap Template to views -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>

<!-- Application Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<ul class="nav">
		<a class="navbar-brand" href="/imager/public">Shared Gallery</a>
	</ul>
</nav>
<!-- End Navigation -->

<!-- Application Body Content -->
<div class="container">
	<div class="row">
		<div class="col-md-12 app-content">	
			{%block body%}

			{%endblock%}
		</div>
	</div>
</div>
<!-- End Content -->

<hr>
<p align='center'><small>2019</small></p>
</body>
</html>
